:root{
    --primary: #e7ecf1;
    --white: #f5f5f5;
    --black: #000000a6;
    --monster: rgba(207, 120, 57, 0.792);
    --syncron: silver;
    --xyz: black;
    --fusion: violet;
    --link: blue;
    --spell: green;
    --trap: rgb(230, 21, 88);
    --sdw-before: 2px 2px 5px 0px rgba(69, 70, 73, 0.61);
    --sdw-after: -2px -2px 5px 0px rgba(255,255,255,0.75);
    --shadow : 2px 2px 5px 0px rgba(201,204,212,0.75) , -2px -2px 5px 0px rgba(255,255,255,0.75)

}

*{
    box-sizing: border-box;
    color: var(--black);
}
img{
    max-width: 100%;    
}
body{
    max-width: 660px;
    
}
/* header   */
.header{
     position: fixed;
     left: 0px;
     right: 0px;
     top: 0px;

     box-shadow: var(--sdw-before);
     background-color: var(--white);
}
.header span{
    text-shadow: 5px 1px 5px rgb(223, 218, 218);
    font-weight: 900;
    font-size: 1.5rem;
}
input[type=text]{
    padding: 10px;
    border-radius: 5px;
    border: none;

    box-shadow: var(--sdw-before) inset;
}
button[type=submit]{
    height: 3rem;
    width: auto;

    background-color: transparent;
    border: none;
}
form{
    align-items: center;
  justify-content: center;
  display: flex;
}
.top-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    height: 4rem;
}
/* end header  */
/* main  */
main{
    padding: 5rem 0.8rem;
    background-color: var(--primary);
    overflow: auto;
}
/* end main  */
/* footer  */
.footer{
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;

     box-shadow: var(--sdw-before);
     background-color: var(--white);
}
.footer-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    height: 4rem;
}
.footer-menu .btn-menu{
    height: 3rem;
    width: auto;

    background-color: transparent;
    border: none;
}
.btn-menu img{
    max-height: 100%;
}
/* end footer  */
.load{
position:fixed;
top: 0px;
bottom: 0px;
left: 0px;
right: 0px;
background-color: white;

display:flex;
justify-content: center;
align-item: center;
}
.d-none{
display: none !important;
transform: scale(0);
}
.start{
    background-image: url(https://cdn-icons-png.flaticon.com/512/491/491466.png);
    background-size: contain;
    background-repeat: no-repeat;
    /* background-position: 36px; */
    height: 16px;
    width: 16px;
}
body{
    padding: 10px;
    background-color: var(--primary);
    overflow-x: hidden;
    /* max-width: 100%; */
    /* background-color: var(--black); */
}
.card{
    /* padding: 3px; */
    box-shadow: var(--shadow);
    border-radius: 10px;
    overflow: hidden;
    background-color: var(--white);

    margin: 5px 0px 10px 0px;
}
.card-header{
    padding: 10px;

    box-shadow: 9px 9px 5px -4px rgba(0,0,0,0.36) inset;
    -webkit-box-shadow: 9px 9px 5px -4px rgba(0,0,0,0.36) inset;
    -moz-box-shadow: 9px 9px 5px -4px rgba(0,0,0,0.36) inset;
}
.card-body{
    /* padding: 10px; */
}
.card p{
    padding-left: 10px;
}
.card-detail{
    padding: 10px 20px 10px 10px;
}
ul{
    list-style: none;
    padding-left: 10px;
}

body.monster, .monster .card{
    background-color: var(--monster);
}
.d-flex{
    display: flex;
    flex-wrap: wrap;
}
.d-flex_center{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;
    width: 100vw;
}
.img-sm{
    max-height: 200px;
}
.results{
    gap: 10px;
}
.results p{
    white-space: wrap;
}
.title-sm{
    display: none;
}
.kartu p{
    text-align: justify;
}

@media screen and (min-width: 660px){
    .header,
    main,
    .footer{
        width: 660px;
        left: unset;
        right: unset;
    }
    body{
        max-width: unset;
        padding: 0px;
        margin: 0px;

        display: flex;
        justify-content: center;
        background-color: var(--white);
        height: 100vh;

        box-shadow: var(--sdw-before);
    }
    main{
        box-shadow: -3px 12px 71px -18px rgba(0,0,0,0.93);
        -webkit-box-shadow: -3px 12px 71px -18px rgba(0,0,0,0.93);
        -moz-box-shadow: -3px 12px 71px -18px rgba(0,0,0,0.93);
    }
    .kartu{
        max-width: 100%;
        margin: auto;
        padding: 0px;
    }
    .kartu .title{
        display: block;
        padding: 0px;
        font-weight: 900;
        margin: 0px;
    }
    .kartu .title-sm{
        display: block;
        margin: 0px;
        padding: 10px;
    }
}
.p-0 {
    padding: 0px !important;
}
.m-0{
    margin: 0px !important;
}
.load img{
width: unset;
}